services:
  blog-app:
    build: ./app
    container_name: blog-app
    environment:
      - REACT_APP_SERVER_URL=https://blog.e-acres.com
      - REACT_APP_AUTH_URL=https://blog.e-acres.com
    depends_on:
      - blog-api

  blog-api:
    build: ./api
    container_name: blog-api
    environment:
      - PORT=3001
      - NODE_ENV=development
      - AUTH_URL=https://blog.e-acres.com
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=/run/secrets/db_pass
      - POSTGRES_DB=postgres
      - POSTGRES_HOST=blog-db
      - POSTGRES_PORT=5432
    depends_on:
      - blog-db
    volumes:
      - ./api/public:/app/public
    secrets:
      - db_pass
    env_file:
      - ./api/env/.env

  blog-db:
    image: postgres:alpine
    container_name: blog-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=/run/secrets/db_pass
      - POSTGRES_DB=postgres
      - POSTGRES_HOST=blog-db
      - POSTGRES_PORT=5432
    volumes:
      - ./db:/var/lib/postgresql/data
    secrets:
      - db_pass

secrets:
  db_pass:
    file: ./api/env/db_pass.txt

networks:
  default:
    name: external-network