.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #001828;
  height: 80px;
  box-shadow: 0px 0px 3px 3px black;
  color: #cbdee9
}

.left-section {
  width: 100px;
}

.hamburger {
  font-size: 30px;
  margin-left: 10px;
  width: 30px;
  padding: 10px;
  text-align: left;
  transition: 0.3s;
}

.hamburger:hover {
  transform: scale(1.05);
  color: orange;
}

.header-title {
  font-size: 40px;
  transition: 0.3s;
}

.header-title:hover {
  transform: scale(1.05);
  color: orange;
}

.logout {
  width: 60px;
  transition: 0.3s;
}

.logout:hover {
  transform: scale(1.05)
}

.logout-text {
  font-size: 16px;
  color: #98bdd3;
  transition: 0.3s;
}

.login:hover {
  text-decoration: underline;
  color: orange;
}

/* .logout-text:hover {
  font-size: 16px;
  color: orange;
} */

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logout-wrapper {
  width: 100px;
}