.post-card-wrapper {
  margin: 0px;
  width: 55vw;
  border-radius: 5px;
  transition: 0.3s;
  color: #cbdee9;
  border: 2px solid #001828;
  background-color: #2d4763;
  padding: 10px;
  margin-bottom: 20px;
  min-width: 320px;
}

.post-card-attributes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  /* margin-inline: 10px; */
}

.post-card-timestamps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-inline: 10px; */
  margin-top: 10px;
}

.svg {
  width: 20px;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
  margin-right: 10px;
}

.public {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #4dacff;
  margin-inline: 10px;
}

.user {
  color: #4dacff;
  z-index: 999;
}

.user:hover {
  text-decoration: underline;
}

.link {
  text-decoration: none;
  z-index: 999;
}

.hightlight {
  color: aquamarine
}

.post-card {
  /* background-color: #001828; */
  width: 55vw;
  /* border-radius: 10px; */
  transition: 0.3s;
  min-width: 320px;
  /* color: #cbdee9; */
  /* border: 1px solid #1a2c40; */
}

.post-card-wrapper:hover {
  transform: scale(1.02);
  box-shadow: 3px 3px 5px 2px black;
}

.my-card:hover {
  color: aquamarine;
  border: 2px solid aquamarine;
}

.other-card:hover {
  color: #4dacff;
  border: 2px solid #4dacff;
}

.post-card-title {
  font-size: 24px;
  margin: 10px;
  text-align: left;
  color: #92cbff;
}

.post-card-content {
  font-size: 20px;
  margin: 10px;
  text-align: left;
  color: #cbdee9;
}

.expand {
  width: 90%;
  transition: 0s;
}

.expand:hover {
  transform: scale(1.0);
  box-shadow: none;
}

.rule {
  border: none;
  background-color: #1a2c40;
  height: 2px;
}

.add-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-block: 30px;
  font-size: 24px;
  width: 30vw;
  border: 1px solid #001828;
  height: 40px;
  color: #cbdee9;
  background-color: #001828;
}

.add-card:hover {
  border: 1px solid #4dacff;
  background-color: #4dacff;
  color: black;
  font-size: 36px;
}
