.home {
  width: 100vw;
  height: 100%;
  margin-top: 30px;
  min-width: 320px;
}

.posts {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

/* .filter-buttons {

} */

.button {
  background-color: #001828;
  border: 2px solid #001828;
  border-radius: 5px;
  padding: 5px;
  margin-block: 10px;
  margin-right: 10px;
  transition: 0.2s;
  color: #cbdee9;
  width: 150px;
}

.button:hover {
  transform: scale(1.1);
}

.active {
  border: 2px solid #4dacff;
  /* background-color: #4dacff; */
  color: #4dacff;
}

.no-posts {
  color: #cbdee9;
  font-size: 36px;
}