.home {
  width: 100vw;
  height: 100%;
  margin-top: 30px;
  min-width: 320px;
}

.posts {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

/* .filter-buttons {

} */

.button {
  background-color: #4dacff;
  border: 2px solid #4dacff;
  border-radius: max(5px, 0.5vh);
  padding: 5px;
  margin-block: max(10px, 2vh);
  margin-right: max(10px, 2vh);
  transition: 0.2s;
  color: #001828;
  width: max(150px, 20vh);
  font-size: max(16px, 2vh);
}

.button:hover {
  transform: scale(1.1);
}

.no-posts {
  color: #cbdee9;
  font-size: max(36px, 4vh);
}

.options {
  background-color: #001828;
  border: 2px solid #001828;
  color: #cbdee9;
}

.active {
  border: 2px solid #4dacff;
  /* background-color: #4dacff; */
  color: #4dacff;
}

.page-title {
  font-size: max(36px, 4vh);
}