.post-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.post-page-attributes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5px;
  width: 100%;
  margin-top: 30px;
}

.post-page {
  color: #cbdee9;
  margin: 30px;
  width: 60vw;
  min-width: 320px;
}

.post-page-title {
  text-align: left;
  font-size: 36px;
  margin-bottom: 30px;
  text-decoration: solid;
}

.separator {
  border: none;
  background-color: #001828;
  height: 2px;
}

.post-page-content {
  text-align: left;
  font-size: 18px;
}

@media (max-width: 800px) {
  .post-page-attributes {
    flex-direction: column;
  }
}

.attribute {
  margin-bottom: 10px;
}

.delete {
  background-color: #ff3838;
  border: 2px solid #ff3838;
  color:#001828
}