.post-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.post-page-attributes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5px;
  width: 100%;
  margin-top: 30px;
  text-align: left;
}

.post-page {
  color: #cbdee9;
  margin: 30px;
  width: 60vw;
  min-width: 320px;
}

.post-page-title {
  text-align: left;
  font-size: 36px;
  margin-bottom: 30px;
  text-decoration: solid;
}

.separator {
  border: none;
  background-color: #001828;
  height: 2px;
}

.post-page-content {
  text-align: left;
  font-size: max(18px, 1.5vh);
}

.attribute {
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.delete {
  background-color: #ff3838;
  border: 2px solid #ff3838;
  color: white;
}

.author-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .edit {
  margin-left: 10px;
} */



.post-page-content img {
  max-width: max(60%, 320px);
  border-radius: 5px;
  border: 2px solid #001828;
}

.post-page-content hr {
  border: none;
  background-color: #001828;
  height: 2px;
}

/* .post-page-content code {
  border: none;
  background-color: #001828;
  height: 2px;
  font-size: max(14px, 1.2vh);
  padding: 0px;
  text-align: left;
}


.post-page-content .linenumber {
  padding: 0px;
  min-width: 0px;
  text-align: left;
}

.post-page-content .linenumber .react-syntax-highlighter-line-number {
  padding: 0px;
  min-width: 0px;
  text-align: left;
} */