@font-face {
  font-family: 'Block';
  src: url('../public/BlockHelvetica-gxpM6.ttf');
}


.App {
  text-align: center;
}

body {
  background-color: #1a2c40;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: aquamarine;
}